<div class="flex text-center justify-between bg-white mt-4 pt-2 pb-2 px-2 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out">
  <div class="flex flex-row gap-3 items-center flex-1">
    <button (click)="onToggle()"
      class="self-center w-6 h-6 rounded-full aspect-square cursor-pointer flex items-center justify-center text-white font-bold transition-all duration-300 border-2"
      [class.border-gray-400]="!task().done"
      [class.bg-green-500]="task().done"
      [class.border-green-500]="task().done">
      {{ task().done ? '✓' : '' }}
    </button>
    <app-editable-text
    class="w-full text-left pr-2"
      [value]="task().title"
      [isStrikethrough]="task().done"
      (valueChanged)="onTitleChanged($event)"
      (editingStateChanged)="onEditingStateChanged($event)"
    />
  </div>
  <div class="flex flex-row gap-3 items-center">
    @if (isEditing()) {
      <button (click)="saveEdit()" class="bg-green-600 hover:bg-green-500 transition-all duration-300 cursor-pointer rounded-lg py-1 px-2 font-medium text-white">Salvar</button>
      <button (click)="cancelEdit()" class="bg-gray-600 hover:bg-gray-500 transition-all duration-300 cursor-pointer rounded-lg py-1 px-2 font-medium text-white">Cancelar</button>
    } @else {
      <button (click)="startEdit()" class="bg-blue-700 hover:bg-blue-500 transition-all duration-300 cursor-pointer rounded-lg py-1 px-2 font-medium text-white">Editar</button>
      <button class="bg-red-700 hover:bg-red-600 transition-all duration-300 cursor-pointer rounded-lg py-1 px-2 font-medium text-white">Excluir</button>
    }
  </div>
</div>
