<section>
  <div class="flex flex-row gap-4 justify-center pb-6">
    <app-amount-box class="flex-1"></app-amount-box>
    <app-amount-box class="flex-1"></app-amount-box>
    <app-amount-box class="flex-1"></app-amount-box>
  </div>
  <div class="flex justify-between gap-4 text-center bg-white pt-2 pb-2 px-2 rounded-lg shadow-md">
    <span class="pb-2 pt-1 px-4 bg-blue-500 text-white text-2xl rounded-lg cursor-default">+</span>
    <input type="text"
    placeholder="Adicionar nova tarefa..."
    class="w-full outline-none placeholder">
    <button class="bg-blue-300 font-medium text-white px-3 py-1 rounded-2xl">Adicionar</button>
  </div>
</section>
