<div class="fixed inset-0 bg-opacity-50 backdrop-blur-xs flex items-center justify-center z-50" (click)="onCancel()">
  <div class="bg-white rounded-lg shadow-2xl border-4 border-gray-300 p-6 max-w-md w-full mx-4" (click)="$event.stopPropagation()">
    <h2 class="text-xl font-semibold mb-4 text-gray-800">{{ message() }}</h2>

    <div class="flex gap-3 justify-end">
      <button
        (click)="onConfirm()"
        class="bg-red-700 hover:bg-red-600 transition-all duration-300 cursor-pointer rounded-lg py-2 px-4 font-medium text-white">
        {{ confirmText() }}
      </button>
      <button
        (click)="onCancel()"
        class="bg-gray-600 hover:bg-gray-500 transition-all duration-300 cursor-pointer rounded-lg py-2 px-4 font-medium text-white">
        {{ cancelText() }}
      </button>
    </div>
  </div>
</div>
